@import '../assets/styles/mixin.scss';

.staff-Wraper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 15px 0;

    .staff-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px 0;
        padding: 16px 0;

        @include max-width-991() {
            display: flex;
            justify-content: space-evenly;
        }

    }
}