.footer-block{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    .footer-text{
        padding: 40px 0;

       .aref{
        color: white;
    
} 
    }
    
}
